---
import type { AlbumWithArtists } from '#types/albumWithArtists';
interface Props {
  album: AlbumWithArtists;
}
const { album } = Astro.props;

const { id, title, cover, artists } = album;
const artistsString = artists.map((a) => a.name).join(', ');
---

<a
  href={`/album/${id}`}
  class="album-item transition-all
  duration-300 flex relative p-2 overflow-hidden gap-2 pb-6 rounded-md hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 w-44 flex-col"
  transition:name=`album ${id} box`
>
  <picture class="aspect-square w-full h-auto flex-none">
    <img
      src={cover}
      alt={title}
      class="object-cover size-full rounded-md"
      transition:name=`album ${id} image`
    />
  </picture>
  <div class="flex flex-auto flex-col truncate px-2">
    <h4 class="text-white text-sm" transition:name=`album ${id} title`>
      {title}
    </h4>
    <span class="text-xs text-gray-400" transition:name=`album ${id} artists`>
      {artistsString}
    </span>
  </div>
</a>
