---
import type { AlbumWithArtists } from '#types/albumWithArtists.js';

interface Props {
  album: AlbumWithArtists;
}

const { album } = Astro.props;
const { id, title, color, cover, artist } = album;

const artistsString = artist;
---

<a
  href={`/album/${id}`}
  class="playlist-item flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-800"
>
  <picture class="size-12 flex-none">
    <img
      src={cover}
      alt={`Cover of ${title} by ${artistsString}`}
      class="object-cover size-full rounded-md"
    />
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-sm text-white">{title}</h4>
    <span class="text-xs text-gray-400">
      {artistsString}
    </span>
  </div>
</a>
